*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
html,body{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: #E33529;
}
#a{
    position: absolute;
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 100px;
    background-color: #E33529;
    transform: translateY(-108px);
    transition: all ease 2s;
    padding-right: 70px;
    rotate: (8deg);
}

#b{
    width: fit-content;
    padding: 0 18px 20px 18px;
    height: 80px;
    background-color: #E33529;
    transform: translateY(98px);
    transition: all ease 2s;
    /* clip-path: polygon(0 0, 100% 0, 80% 100%, 19% 100%); */
    clip-path: polygon(0 1%, 100% 2%, 96% 100%, 4% 100%);
    display: flex;
    align-items: flex-end;
    color: white;
    border-radius: 0 0 30px 30px;
    cursor: pointer;
}

#b:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 110%);
}

#a:hover{
    transform: translateY(-85px);
}

nav{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    width: 100%;
    height: 100px;
}

nav #large{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

#logo{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#logo h2{
    font-size: 1vw;
    line-height: 1vw;
    font-weight: 900;
    color: #E33529;
}

nav img{
    width: 9vw;
}

nav #links{
    display: flex;
    /* justify-content: space-between; */
    /* width: 30%; */
    gap: 2vw;
    /* background-color: yellow; */
}

nav #links a{
    font-size: 1.2vw;
}

#dummy{
    width: 20%;
}

#small{
    display: none;
}